[user]
    name = Patrick Tsai
    email = patrick@simplypatrick.com
    signingkey = FE82C3007010806B

[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
    precomposeUnicode = true

[credential]
    helper = store

[color]
    ui = true
    diff = auto
    status = auto
    branch = auto
    interactive = auto

[sendemail]
    smtpencryption = tls
    smtpserver = smtp.gmail.com
    smtpuser = yinghau76@gmail.com
    smtpserverport = 587

[alias]
    co = checkout
    discard = checkout --
    unversion = rm --cached
    st = status --untracked-files=no
    s = status .
    ci = commit
    fixup = commit --amend -C HEAD
    br = branch
    df = diff
    d  = difftool -y
    dc = difftool -y --cached
    mg = mergetool --tool=meld
    l  = log --graph --pretty=format:\"%C(yellow)%h %C(green)%ad %C(red)%d %C(reset)%s%d %C(reset)| %C(bold blue)%an\" --graph --date=short
    la = !git l --all
    r = !git l -30
    ra = !git r --all
    unstage = reset HEAD
    sm = submodule
    untracked = ls-files -o --exclude-standard
    ignored = ls-files --others -i --exclude-standard
    modified = ls-files -m
    root = rev-parse --show-toplevel

[push]
    # 'git push' should only do the current branch, not all
    default = current

[branch]

[merge]
    tool = intellij-macos
[mergetool "intellij-macos"]
    cmd = /Applications/IntelliJ\\ IDEA\\ CE.app/Contents/MacOS/idea merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED")
    trustExitCode = true
[mergetool "clion-macos"]
    cmd = /Applications/CLion.app/Contents/MacOS/clion merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED")
    trustExitCode = true
[mergetool "meld-macos"]
    cmd = open -W -a Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"
    trustExitCode = true
[mergetool "smerge"]
	cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true

[diff]
    tool = vscode
[difftool "intellij-macos"]
    cmd = /Applications/IntelliJ\\ IDEA\\ CE.app/Contents/MacOS/idea diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")
    trustExitCode = true
[difftool "clion-macos"]
    cmd = /Applications/CLion.app/Contents/MacOS/clion diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")
    trustExitCode = true
[difftool "meld-macos"]
    cmd = open -W -a Meld --args \"$LOCAL\" \"$REMOTE\"
    trustExitCode = true
[difftool "vscode"]
    cmd = code --diff --wait \"$LOCAL\" \"$REMOTE\"
    trustExitCode = false
