[user]
    name = Patrick Tsai
    email = patrick@simplypatrick.com
    signingkey = FE82C3007010806B

[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
    precomposeUnicode = true

[credential]
    helper = store

[color]
    ui = true
    diff = auto
    status = auto
    branch = auto
    interactive = auto

[sendemail]
    smtpencryption = tls
    smtpserver = smtp.gmail.com
    smtpuser = yinghau76@gmail.com
    smtpserverport = 587

[alias]
    a = add

    co = checkout
    ci = commit

    s = status . --short
    ss = status --untracked-files=no

    b = branch

    d = diff
    dd  = difftool -y
    dc = difftool -y --cached

    l  = log --graph --pretty=format:\"%C(yellow)%h %C(green)%ad%C(red)%d %C(reset)%s %C(reset)| %C(bold blue)%an\" --graph --date=short
    ll = !git l --all

    discard = checkout --
    unstage = reset HEAD
    unversion = rm --cached
    u = !git discard
    uu = !git unstage
    uuu = !git unversion

    untracked = ls-files -o --exclude-standard
    lu = !git untracked
    ignored = ls-files --others -i --exclude-standard
    li = !git ignored
    modified = ls-files -m
    lm = !git modified

    root = rev-parse --show-toplevel
    r = !git root

[push]
    # 'git push' should only do the current branch, not all
    default = current

[branch]

[merge]
    tool = intellij-macos
[mergetool "intellij"]
    cmd = idea merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED")
    trustExitCode = true
[mergetool "meld-macos"]
    cmd = open -W -a Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"
    trustExitCode = true
[mergetool "smerge"]
    cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
    trustExitCode = true

[diff]
    tool = vscode
[difftool "intellij"]
    cmd = diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")
    trustExitCode = true
[difftool "meld-macos"]
    cmd = open -W -a Meld --args \"$LOCAL\" \"$REMOTE\"
    trustExitCode = true
[difftool "vscode"]
    cmd = code --diff --wait \"$LOCAL\" \"$REMOTE\"
    trustExitCode = false

[include]
    path=.gitconfig-custom
